---
layout: "base.njk"
---
<div class="article-body center-flex">
    <div class="section-subject center-flex">
        <h1>{{ title }}</h1>
        <p>By {{ author }}</p>
    </div>
    <img src="{{ imageSrc }}" alt="{{ altText }}">
    <figcaption> {{ altText }}</figcaption>
    <article>
        {{ content | safe }}
    </article>
</div>