<li class="article-snippet center-flex">
    <a href="{{ post.url | githubURL }}" style="background-image: url({{post.data.thumbnailSrc|githubURL}}); background-position: center; background-repeat: no-repeat; background-size: cover;" alt="{{ post.altText }}"></a>
    <h3><a href="{{ post.url | githubURL }}" tabindex="-1">{{ post.data.title }}</a></h3>
    <div>
        <blockquote>{{ post.data.summary }}</blockquote>
        <p>By <strong>{{ post.data.author }}</strong></p>
    </div>
</li>