<footer class="center-flex">
    <div>
        <h1>Performance Task for 21th Century Lit.</h1>
        <h3>Got lazy during this part, imagine I have a bunch of things here that is worth merit.</h3>
    </div>
    <div>
        <h3>Ross David B. Tan &copy; {% year %}.</h3>
    </div>
</footer>