<header>
    <a href="/"><img src="/assets/logo.png" alt="Bedan Meow Logo"></a>
    <input type="checkbox" name="toggle-nav" id="toggle-nav" tabindex="-1">
    <label for="toggle-nav" class="toggle-nav-label center-flex"><span tabindex="0"> </span></label>
    <nav>
        <ul class="navbar">
            <li>
                <a href="/">HOME</a>
            </li>
            <li>
                <a href="/news">NEWS</a>
            </li>
            <li>
                <a href="/contact">CONTACT</a>
            </li>
            <li>
                <a href="/about">ABOUT</a>
            </li>
        </ul>
    </nav>
</header>