---
layout: "base.njk"
title: "About Us"
addDescription: "The about page of TBM. Read common QnA's."
addKeywords: "about, about us, about page, qna, info"
---

<section>
    <div class="section-subject center-flex">
        <h1>About Us</h1>
        <p>If you want to know us, for whatever reason.</p>
    </div>
    <div class="qna-list center-flex">
        <div class="qna">
            <h3>Who are we?</h3>
            <p>We are a bunch of 11 HUMMS students having the laugh of our lives. Which section? We'll never tell.
                We'll stay anonymous as long as we care to do so. Or until one of use tries to claim the spotlight.
                Then we're ALL coming out.
            </p>
        </div>
        <div class="qna">
            <h3>Why???</h3>
            <p>Why not? Spice your life with a little mischief, even if said mischief is inconsiquential in the end.</p>
        </div>
        <div class="qna">
            <h3>Are any of the news here real?</h3>
            <p>Nope, none of it. All of it fabricated from our imagination. Hopefully anyways.</p>
        </div>
    </div>
</section>