---
layout: "base.njk"
title: "About Us"
addDescription: "The about page of this site. Read common QnA's."
addKeywords: "about, about us, about page, qna, info"
---

<section>
    <div class="section-subject center-flex">
        <h1>About This</h1>
        <p>If for some reason it's not clear enough.</p>
    </div>
    <div class="qna-list center-flex">
        <div class="qna">
            <h3>What is this?</h3>
            <p>This is a Performance Task for my 21th Century Literature Subject during the 4th Quarter.
            This is under Ma'am K. Hi Ma'am K. Actually, Here on this website, I'll talk about my favorite pieces of literature 
            (very loose, dubious definition of literature I'm working with) and my experiences reading/watching/listening/playing them.
            </p>
        </div>
        <div class="qna">
            <h3>What does this website have?</h3>
            <p>Here on this website, I'll talk about my favorite pieces of literature 
            (very loose, dubious definition of literature I'm working with) and my experiences 
            reading/watching/listening/playing them. These may not be the best of the best in the eyes of experts,
            but these are the best in <em>my opinion</em>.
            </p>
        </div>
        <div class="qna">
            <h3>Are you allowed to do this?</h3>
            <p>At this point in time, I have yet to ask if this is even allowed. Easier to ask for forgiveness than to get permission.
                
            </p>
        </div>
        <div class="qna">
            <h3>Can I browse this on mobile?</h3>
            <p>Yup. This website should be reactive and work well on mobile.</p>
        </div>
    </div>
</section>