---
layout: "base.njk"
title: "About Us"
addDescription: "The about page of this site. Read common QnA's."
addKeywords: "about, about us, about page, qna, info"
---

<section>
    <div class="section-subject center-flex">
        <h1>About This</h1>
        <p>If for some reason it's not clear enough.</p>
    </div>
    <div class="qna-list center-flex">
        <div class="qna">
            <h3>...This isn't as PDF.</h3>
            <p>It really isn't. But look, it's one page! One webpage on a website, that is.</p>
        </div>
        <div class="qna">
            <h3>Are you allowed to do this?</h3>
            <p>At this point in time, I have yet to ask if this is even allowed.
                Easier to ask for forgiveness than to get permission.
            </p>
        </div>
        <div class="qna">
            <h3>OK, but what is this?</h3>
            <p>This is a Performance Task for my 21th Century Literature Subject during the 4th Quarter.
                This is under Ma'am K. Hi Ma'am K. Actually, Here on this website, I'll talk about my favorite pieces of
                literature
                (very loose, dubious definition of literature I'm working with) and my experiences
                reading/watching/listening/playing them.
                These may not be the best of the best in the eyes of experts,
                but these are the best in <em>my opinion</em>.
            </p>
            <p>
                The exact list contains: Worm, Inside, Hadestown, Dungeons And Daddies, Open Sorcery, and Ilyada.
            </p>
            </p>
        </div>
        <div class="qna">
            <h3>Are you ready to get docked points?</h3>
            <p>Oh absolutely. Creativity necessitates risk, and so I shall take the risk.</p>
        </div>
        <div class="qna">
            <h3>Can I browse this on mobile?</h3>
            <p>Yup. This website should be reactive and work well on mobile.</p>
        </div>
    </div>
</section>