body {
    margin: 0px;
    font-family: "Century Gothic";
    background-color: white;
}

a{
    color: hsl(0,100%,30%);
    text-decoration: none;
    transition: 0.2s ease;
}
a:hover{
    opacity: 0.8;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5em;
}
header img {
    height: 3em;
}
.navbar {
    margin: 0px;
    padding: 0px;

}
.navbar li {
    display: inline-block;
    margin: 0px 1em;
}
.navbar a {
    text-decoration: none;
    color: unset;
}
.navbar li:first-child {
    color: red;
    font-weight: bold;
}

.home-info {
    display: flex;
    margin-top: 2em;
    flex-flow: column;
    align-items: center;
    margin-bottom: 5em;
}
.home-info div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.home-info img {
    width: 50vw;
    filter: drop-shadow(0px 0px 10px black);
}
.home-info h1 {
    margin-bottom: 0px;
    font-size: 3em;
    text-align: center;
}
.home-info p {
    margin-top: 0px;
    width: 50%;
    text-align: center;
    font-style: italic;
}

.featured-articles {
    background-color: hsl(0,100%,80%);
}
.caption {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.caption h1 {
    text-align: center;
    padding-top: 1em;
    margin: 0px;
    font-size: 2em;
    color: hsl(0,100%,20%);
}
.caption p {
    text-align: center;
    padding-bottom: 2em;
    margin: 0px;
    width: 80%;
    font-style: italic;
}
.featured-articles ul {
    padding: 0px;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.featured-articles li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column;
    width: min(100%, 1000px);
}
.featured-articles img {
    width: 70%;
    margin: 0px;
}
.featured-articles li div {
    margin: 2em;
}
.featured-articles h3 {
    font-size: 1.5em;
    margin: 0px;
    text-align: left;
}
.featured-articles blockquote {
    margin: 1em 0px;
    padding: 1em 1em;
    border-left: 3px solid red;
}
.featured-articles li p {
    margin: 0px 0px;
    text-align: left;
    font-size: 0.8em;
}

.qna-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
}
.qna {
    width: min(80%, 700px);
}

.article-body {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.article-body .caption {
    margin: 0px 2em;
}
.article-body h1 {
    width: 100%;
    text-align: left;
}
.article-body .caption p {
    width: 100%;

    text-align: left;
}
.article-body img {
    width: min(80%, 500px);
}
.article-body article {
    width: min(700px, 80%);
    margin: 2em;
}
.article-body article p {
    padding: 0.5em;
}
.article-body figcaption {
   width: max(30%, 300px);
   text-align: center;
   font-style: italic;
   font-size: 0.8em;
    margin: 0.5em;
}

footer {
    background-color: hsl(0,100%,20%);
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    color: white;
}


@media (min-width: 700px) {
    header {
        justify-content: space-between;
    }
    header > a {
        margin: 3em;
    }
    .navbar {
        margin-right: 3em;
    }
    .home-info {
        flex-flow: row;
        align-items: center;
        justify-content: center;
        margin: 16vh 0px;
    }
    .home-info img {
        width: min(350px, 50%);
        margin-right: 4em;
    }
    .home-info div {
        width: max(250px,30%);
        align-items: flex-end;
    }
    .home-info p {
        width: 100%;
        text-align: right;
    }
    .featured-articles img {
        width: min(300px, 40%);
        margin: 2em;
    }
    .home-info h1 {
        width: 100%;
        text-align: left;
    }
    .home-info p {
        width: max(80%, 250px);
    }
    .featured-articles li {
        flex-flow: row;
    }
    .featured-articles h3 {
        text-align: left;
    }
    footer {
        flex-direction: row;
    }
    footer div {
        margin: 2em;
    }
}