---
layout: "base.njk"
title: "Recent News"
addDescription: "The latest news from TBM. Read all our stupid news."
addKeywords: "news, articles, latest"
---


<section class="article-list-holder center-flex">
    <div class="section-subject center-flex">
        <h1>Recent Articles</h1>
        <p>Hottest fabricated news, right on your plate!</p>
    </div>
    <ul class="article-list center-flex">
        {%- for post in collections.post | reverse | limit(5)-%}
            {% include "article-snippet.njk" %}
        {%- endfor -%}
    </ul>
    <h4 class="center-align"><a href="\news-complete">See all articles.</a></h4>
</section>