---
layout: "base.njk"
title: "All News"
addDescription: "All the news from TBM. Read all our stupid news, but more complete."
addKeywords: "news, articles, all"
---

<section class="article-list-holder center-flex">
    <div class="section-subject center-flex">
        <h1>Our Articles</h1>
        <p>The best (fake) tsimis in the whole SBU.</p>
    </div>
    <ul class="article-list center-flex">
        {%- for post in collections.post | reverse-%}
            {% include "article-snippet.njk" %}
        {%- endfor -%}
    </ul>
</section>