---
layout: "base.njk"
title: "Thank you!"
---
<section>
    <div class="section-subject center-flex">
        <h1>Thank you!</h1>
        <p>Your message means a lot to us, whether we read it or not.</p>
    </div>
</section>